body{
    font-family: Segoe UI;
}

.nameProject {
    color: blueviolet;
    font-size: 150%;
}

.div{
    padding-top: 2%;
}
.text{
    font-family: Segoe UI;
    text-align: justify;
}

.advertencia{
    color: red;
}